body {
    color:#878787;
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
nav ul{
    list-style-type: none;
    overflow: hidden; 
}
nav ul li{
    float: center;
    width: 95%;
    margin: 15px 0;
    color: #878787;
}
h5{
    background-color: #fff;
    margin-bottom: 30px;
    color: #d32128;
    list-style-type: none;
   }