.row{
  margin: 0;
  padding: 0:
}

ul{
  margin-top: 20px;
}

main{
  margin: 2% 0;
}

a{
  text-decoration: none;
  color: #87aca3;
}


.nombre-producto{
  color: #666;
}

.nombre-producto:hover{
  color: #0C1446
}
li{
  list-style: none;
  padding-left: 5px;
}

nav{
  background-color: #EBF5F7;
  border-right: solid 2px #87ACA3;
}

section{
  background-color: #EBF5F7;
}

article{
  display: inline-block;
  background-color: ;
  border-right: solid 1px lightgrey;
  margin: 20px 0;
}

article:nth-child(4n){
  border-right: none;
}

img{
  width: 100%;
}

button{
 position: relative;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: .25rem;
}

h4{
  display: inline-block;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p{
  font-family: 'Open Sans', sans-serif;
}

button.fav{
  position: absolute;
  right: 5%;
  top: 0px;
  background-color: transparent;
}
button.fav:focus{
  background-color: rgba(255, 0, 0, 0.5);
  border-style: none;
}

.producto{
  width: 100%;
}


.navbar{
  padding: 0px;
}


@media (max-width:579px) {
  article{
    border-right: none;
    border-bottom: solid 1px lightgrey;
  }
  article:last-child{
    border-bottom: none;
  }

  nav{
    background-color: #87ACA3;
  }

  a{
    color: #EBF5F7;
  }
}

@media (max-width:579px) {
  article{
    border-right: none;
    border-bottom: solid 1px lightgrey;
  }
  article:last-child{
    border-bottom: none;
  }

  nav{
    background-color: #87ACA3;
  }

  a{
    color: #EBF5F7;
  }
}

@media (min-width:580px) and (max-width:991px) {
  article:nth-child(2n){
    border-right: none;
  }

    nav{
      background-color: #87ACA3;
    }

    a{
      color: #EBF5F7;
    }
}
