label{
  display: block;
}
input
{
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.radiobutton
{
  width: auto;
  margin-bottom: 20px;
}

form{
  margin-top: 50px;
  margin-bottom:  50px;
  
}

.Botones
{
  margin-top: 25px;
  margin-bottom:  25px;
}
