

label{
  display: block;
}
input
{
  width: 100%;
  margin-bottom: 15px;
}
.radiobutton
{
  width: auto;
  margin-bottom: 20px;
}
main
{
  margin-top: 25px;
  margin-bottom:  25px;
}

.Botones
{
  margin-top: 25px;
  margin-bottom:  25px;
}
