<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">
  <head>
  	<link rel="stylesheet" type="text/css" media="all"  
      href="../../style.css" th:href="@{/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="script" href="/home.js">
  </head>
  <body>
    <div class="container-fluid">
     
      <footer th:fragment="footer" class="row d-flex justify-content-between align-item-center container-fluid p-4">
        <div class="newsletter row col-lg-4 col-md-6 col-sm-11 d-flex justify-content-center align-items-center">
          <input class="col-8 send" type="text" placeholder="ingresá tu e-mail!">
          <button class="col-2 send" type="button"><img src="imgs/send.png" alt="new"></button>
          <span class="col-12 errormail"></span>
        </div>
        <div class="row col-lg-4 col-md-6 d-flex align-items-center justify-content-around seguinos">
          <a class= "iconos-redes" href="https://www.facebook.com"><img src="imgs/socialmedia/fb.png" alt="facebook"></a>
          <a class= "iconos-redes" href="https://www.instagram.com"><img src="imgs/socialmedia/ig.png" alt="instagram"></a>
          <a class= "iconos-redes" href="https://www.twitter.com"><img src="imgs/socialmedia/tw.png" alt="twitter"></a>
          <a class= "iconos-redes" href="https://www.youtube.com"><img src="imgs/socialmedia/yt.png" alt="youtube"></a>
        </div>
        <div class="col-lg-3 faqfooter">
          <a href="/faq"><img class="faq" src="imgs/pregunta.png" alt="pregunta"></a>
        </div>
      </footer>
    </div>
    <script>
    window.addEventListener('load',function(){
      //Cuando hace click en el boton enviar
      var botonEnviar = document.querySelector("button.send");
      botonEnviar.addEventListener('click',function(){
        //validar los datos solicitados
        //mostrar errores
        var email = document.querySelector("input.send");
        var errorEmail = document.querySelector("span.errormail");
        var regexEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        if(email.value == ""){
          errorEmail.innerHTML = "Este campo es obligatorio";
          errorEmail.style.color = "red";
          send.style.border = "solid 1px red";
        }else if(regexEmail.test(email.value) != true){
          errorEmail.innerHTML = "No has ingresado un correo electrónico válido";
          errorEmail.style.color = "red";
          email.style.border = "solid 1px red";
        }else{
          errorEmail.innerHTML = "";
          email.style.border = "solid 1px lightgreen";
        }
        });
    });
    </script>
  </body>
</html>

<!-- "no borrar el script! lo necesitamos para el dropdown menu" -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
