
<header th:fragment="header2">
        <div class="top-header container-fluid" >
          <div class="logo-desktop"><img src="imgs/headerBannerDesktop.gif" alt=""></div>
          <div class="logo-mobile"> <img src="imgs/headerBannerMobile.gif" alt=""></div>
        </div>
        <div class="row col-12 container-fluid align-center justify-content-between navConte">
          <a class="col-2 offset-1 d-flex justify-content-center" href="home"><img src="imgs/logo-open.svg" alt="logo de marca"></a>
          <a class="volver col-4" href="home">
            <span class="col-8">VOLVER A LA TIENDA</span>
            <img class="col-2" src="imgs/next.png" alt="">
          </a>
        </div>
        <div class="bottom-header row container-fluid">
          <a class="store-locator col-4 offset-8 d-flex align-items-center justify-content-center" href="sucursales">
            <img class="col-1" src="imgs/alfiler.png" alt="">
            <span class="col-8">SUCURSALES</span>
          </a>
        </div>
        <div class="menuConte">
          <div class="row Col-xs-12 col-sm-12 col-md-12 p-0 d-lg-none justify-content-around align-center">
            <div class="col-4 p-0 m-4 logo2">
              <a href="home"><img src="imgs\logo-open.svg" alt="logo"></a>
            </div>
            <div class="col-4 p-0 menu">
              <div class="dropdown">
                <button class="col-8 p-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="imgs/hamburguesa.png" alt=""></button>
                <div class="col-8 p-0 m-0 dropdown-menu" aria-labelledby="dropdown 0:54 19/10/2019Menu2">
                  <button class="p-3 m-0 dropdown-item" type="button"><a class="menu" href="login">Log in</a></button>
                  <button class="p-3 m-0 dropdown-item" type="button"><a class="menu" href="registro">Registro</a></button>
                  <button class="p-3 m-0 dropdown-item" type="button"><a class="menu" href="#">Mi carrito</a></button>
                  <button class="p-3 m-0 dropdown-item" type="button"><a class="menu" href="faq">Preguntas frecuentes</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      </html>