<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nuevoproducto.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>ABM de Productos</title>
  </head>
  <body>
  
  <h3> Este es el sitio del administrador y, ahora es un poco menos feo!</h3>
  
   <div class="row justify-content-around">
     <a href="/producto/alta" ><button type="submit" id="Registrarme" class=" btn">ALTA</button></a>
     
     <a href="/producto/todos" ><button type="submit" id="Registrarme" class=" btn">Ver todos</button></a>
   </div>	
 </body>
</html>
