<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nuevoproducto.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
<body>
<main layout:fragment="contenido">
    
    <div class="col-6">
        <h3>Editar producto </h3>
       
        <form th:object="${producto}" th:action="@{/producto/editar/} + ${producto.id}" method=POST class="col-9">
            
            <input type="hidden" th:field="*{id}">
            
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
                       placeholder="Escribe el nombre del producto" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            </div>
            
            <div class="row col-12">
	    	  <label class="campos col-md-4" for="inputMarca">Marca:</label>
              <select class="marcas completar col-md-6 " name="marca" id="marca">
                <option>Seleccione una marca</option>
                <option th:each="marca : ${listaDeMarcas}" th:text="${marca.nombre}" th:value="${marca.id}"></option>
              </select>
	       </div>
                        
            <div class="row col-12">
              <label class="campo col-md-4" for="inputCategoria">Género:</label>
              <select class="categoria completar col-md-6" name="categoria" id="categoria">
                <option>Seleccione un género</option>
                <option th:each="categoria : ${listaDeCategorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
              </select>
           </div>
           
            <div class="form-group">
                <label for="precio">Precio</label>
                <input autocomplete="off" th:field="*{precio}" id="precio" placeholder="Precio del producto"
                       type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
            </div>
            
            <div class="row col-12">
              <label class="campos col-md-4" for="inputImagen">Imagen:</label>
              <input autocomplete="off" th:field="*{imagen}" class="imagen completar col-md-6 form-control-file" type="file" id="inputImagen"
	       </div>
	       
	       <div class="row col-12">
            <button class="btn btn-dark col-5" type="submit">Guardar</button>
            <a class="btn btn btn-light offset-1 col-5" th:href="@{/producto/todos}">Ver todos</a>
           </div>
        </form>
    </div>
</main>
</body>
</html>