<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Listado</title>
  </head>
  
  <body>
    <h1>ADMINISTRACION DE PRODUCTOS</h1>
    
    <a href="/producto/alta" ><button type="submit" id="Registrarme" class=" btn btn-light">INGRESAR UN NUEVO PRODUCTO</button></a>
    <br>
    <h2 th:if="${mensaje!=null}" th:text="${mensaje}" > </h2>
    <br>
    <table class="table">
	  <thead>
    	<tr >
      		<th scope="col">Id</th>
      		<th scope="col">Nombre</th>
	        <th scope="col">Marca</th>
      		<th scope="col">Descripción</th>
      		<th scope="col">Precio</th>
      		<th scope="col">Imagen</th>
      		<th scope="col">Genero</th>
      		<th scope="col">Editar</th>
      		<th scope="col">Eliminar</th>
    	</tr>
  	  </thead>
      <tbody>
    	<tr th:each="producto : ${listaDeProductos}">
      		<th scope="row" th:text="${producto.id}"></th>
      		<td th:text="${producto.nombre}"></td>
      		<td th:text="${(producto.marca != null ? producto.marca.nombre : 'No tiene')}"></td>
	      	<td th:text="${producto.descripcion}"></td>
      		<td th:text="${producto.precio}"></td>
        	<td th:text="${producto.imagen}"></td>
        	<td th:text="${(producto.categoria != null ? producto.categoria.nombre : 'No tiene')}"></td>
        	<td ><button type="send" id="Registrarme" class="col-6 btn"><a th:href="@{/producto/editar/} + ${producto.id}">Editar</a></button></td>
        	
        	<td><form th:action="@{/producto/eliminar}" method="post">
                     <input type="hidden" name="id" th:value="${producto.id}"/>
                     <button type="submit" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i></button>
                 </form></td>
       </tr>
     </tbody>
	</table>
	
  </body>
</html>