<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nuevoproducto.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
    <title>Alta de producto</title>
  </head>
  
  
  <body>
  	<h3> Ingrese los datos del producto a dar de alta </h3>

   	<form th:action="@{/producto/alta}" th:object="${producto}" method="POST">
   		<div class="row col-9 datos">
   			<div class="row col-12">
              <label class="campos col-4" for="inputNombre">Nombre del Producto:</label>
              <input class="nombre completar col-6" type="text" id="inputNombre" th:field="*{nombre}" placeholder="Ingrese el nombre del producto"/>
              <span class="nombre completar col-6 offset-6" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
	       </div>
	       <div class="row col-12">
	    	  <label class="campos col-md-4" for="inputMarca">Marca:</label>
              <select class="marcas completar col-md-6 " name="marca" id="marca">
                <option>Seleccione una marca</option>
                <option th:each="marca : ${listaDeMarcas}" th:text="${marca.nombre}" th:value="${marca.id}"></option>
              </select>
	       </div>
	       <div class="row col-12">
	    	  <label class="campos col-md-4" for="inputPrecio">Precio del Producto:</label>
              <input class="precio completar col-md-6 " type="number" id="inputPrecio" placeholder="Ingrese el valor en $" name="precio"/>
           </div>
	       <div class="row col-12">
              <label class="campo col-md-4" for="inputCategoria">Género:</label>
              <select class="categoria completar col-md-6" name="categoria" id="categoria">
                <option>Seleccione un género</option>
                <option th:each="categoria : ${listaDeCategorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
              </select>
           </div>
	       <div class="row col-12">
              <label class="campos col-md-4" for="inputDescripcion">Descripción del Producto:</label>
              <input class="descripcion completar col-md-6" type="text" id="inputDescipcion" name="descripcion" placeholder="Ingrese una breve descripción del producto"/>
           </div>
	       <div class="row col-12">
              <label class="campos col-md-4" for="inputImagen">Imagen:</label>
              <input class="imagen completar col-md-6 form-control-file" type="file" id="inputImagen" name="imagen">
	       </div>
	       <div class="row col-12">
		      <div class="row col-5 Botones justify-content-center" id="botones">
              	<button type="submit" class="col-5 btn btn-dark">Enviar</button>
              </div>
		</div>
	</form>
	<h5><a href="/producto/todos">Volver al Inicio</a><h5>
  </body>
</html>