<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Alta de producto</title>
  </head>
  <body>
  <h1> Ingrese los datos del producto a dar de alta </1>
  
   <form th:action="@{/producto/alta}" th:object="${producto}" method="POST">
  <div >
    <div class="form-group col-md-6">
      <label for="inputNombre">Nombre del producto</label>
      <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese aqui el nombre del producto" th:field="*{nombre}" />
      <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputMarca">Marca</label>
      <input type="text" class="form-control" id="inputMarca" placeholder="Ingrese aqui la marca" name="marca">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescripcion">Descripcion del producto</label>
    <input type="text" class="form-control" id="inputDescripcion" placeholder="ingrese la descripcion aqui" name="descripcion">
  </div>
  <div class="form-group">
    <label for="inputPrecio">Precio del producto</label>
    <input type="number" class="form-control" id="inputPrecio" placeholder="Ingrese el precio del producto" name="precio">
  </div>
  <div class="form-group">
    <label for="inputImagen">Imagen del producto</label>
    <input type="file" class="form-control-file" id="inputImagen" name="imagen">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
  </body>
</html>