<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Listado</title>
  </head>
  <body>
    <h1>Estos son nuestros usuarios registrados</h1>

    <table class="table">
  <thead>
    <tr >
      <th scope="col" >Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="unUsuario : ${listaDeUsuarios}">
      <th scope="row" th:text="${unUsuario.ID}"></th>
      <td th:text="${unUsuario.nombre}"></td>
      <td th:text="${unUsuario.apellido}"></td>
      <td th:text="${unUsuario.dni}"></td>
    </tr>
  </tbody>
</table>
  </body>
</html>