<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/registro.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <header th:replace="/fragments/header2::header"></header>
      <main>
        <div class="row container-fluid justify-content-center ">
          <form id="formRegistro" class="row col-lg-4 col-md-10" th:action="@{/alta}" th:object="${usuario}" method="POST">
            <h3 class="offset-1 col-10">Registrate</h3>
            <div class="row col-12 datos">

              <label class="campos col-12" for="Nombre">Nombre:</label>
              <input class="nombre completar" type="text" id="Nombre" >
              <span class="col-8 errornombre"></span>
              <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
         
              <label class="campos col-12" for="Apellido">Apellido:</label>
              <input class="apellido completar" type="text" id="Apellido" name="apellido">
              <span class="col-8 errorapellido"></span>

              <label class="campos col-12" for="Email"> Email: </label>
              <input class="email completar" type="text" id="Email" name="email">
              <span class="col-8 erroremail"></span>

              <label class="campos col-12" for="Contraseña"> Contraseña: </label>
              <input class="contraseña completar" type="password" id="Contraseña" name="password">
              <span class="col-8 errorcontraseña"></span>
              
              <label class="campos col-12" for="ConfirmarContraseña:"> Confirmar contraseña: </label>
              <input class="confirmarcontraseña completar" type="password" id="ConfirmarContraseña">
              <span class="col-8 errorconfirmarcontraseña"></span>

              <label class="campos col-12" for="NumeroDocumento">Número de Documento:</label>
              <input class="numerodocumento completar" type="text" id="NumeroDocumento" name="dni">
              <span class="col-8 errornumerodocumento"></span>
              

              <label class="campos col-12" for="FechaNacimiento"> Fecha de Nacimiento: </label>
              <input class="fechanacimiento completar" type="date" id="FechaNacimiento" name="fecha_de_nacimiento">
              <span class="col-8 errorfechanacimiento"></span>

              <label class="campos col-12" for="TelefonoContacto">Telefono de contacto:</label>
              <input class="telefonocontacto completar" type="text" id="TelefonoContacto" name="telefono">
              <span class="col-8 errortelefonocontacto"></span>
              

              <label class="campos col-12" for="Domicilio">Domicilio:</label>
              <input class="domicilio completar" type="text"  id="Domicilio" name="domicilio">
              <span class="col-8 errordomicilio"></span>

              <label class="campos col-12" for="CodigoPostal">Codigo Postal:</label>
              <input class="codigopostal completar" type="text" id="CodigoPostal" name="codigo_postal">
              <span class="col-8 errorcodigopostal"></span>
              

              <label class="campos col-12" for="Localidad">Localidad:</label>
              <input class="localidad completar" type="text"  id="Localidad" name="localidad">
              <span class="col-8 errorlocalidad"></span>

              <label class="campos col-12" for="Provincias">Provincias:</label>
              <select class="provincias completar" id="Provincias" name="provincia">
                <opction value="">Selecciona una provincia</option>
              </select>
              <span class="col-8 errorprovincias"></span>
            </div>
       
            <div class="row col-12 Botones justify-content-center" id="botones">
              <button type="submit" value="Registrar" id="Registrarme" class="col-5 btn btn-dark">Registrar</button>
              <button type="reset" value="Borrar todo" id="borrar"  class="col-5 btn btn-light">Borrar</button>
            </div>
       
          </form>
        </div>
      </main>
      <footer th:replace="/fragments/footer::footer"></footer>
    </div>
    
    
    <script>
      window.addEventListener('load',function(){
        var provincias = document.querySelector("select#Provincias");

        fetch("https://apis.datos.gob.ar/georef/api/provincias")
        .then(function(response){
          return response.json();
        })
        .then(function(datosProvincias){
          for(var i=0; i<datosProvincias.provincias.length;i++){
            provincias.innerHTML = provincias.innerHTML+"<option value='"+datosProvincias.provincias[i].nombre+"'>"+datosProvincias.provincias[i].nombre+"</option>";
          }
        })
        .catch(function(error){
          console.log(error);
        });

        //Cuando hace click en el boton registrarme
        var botonRegistrarme = document.querySelector("form#formRegistro");
        botonRegistrarme.onSubmit=function(evt){
						
          //variables para utilizar
          var nombre = document.querySelector("input.nombre");
          var apellido = document.querySelector("input.apellido");
          var email = document.querySelector("input.email");
          var contraseña = document.querySelector("input.contraseña");
          var confirmarcontraseña = document.querySelector("input.confirmarcontraseña");
          var numerodocumento = document.querySelector("input.numerodocumento");
          var fechanacimiento = document.querySelector("input.fechanacimiento");
          var telefonocontacto = document.querySelector("input.telefonocontacto");
          var domicilio = document.querySelector("input.domicilio");
          var codigopostal = document.querySelector("input.codigopostal");
          var localidad = document.querySelector("input.localidad");

          var errornombre = document.querySelector("span.errornombre");
          var errorapellido = document.querySelector("span.errorapellido");
          var erroremail = document.querySelector("span.erroremail");
          var errorcontraseña = document.querySelector("span.errorcontraseña");
          var errorconfirmarcontraseña = document.querySelector("span.errorconfirmarcontraseña");
          var errornumerodocumento = document.querySelector("span.errornumerodocumento");
          var errorfechanacimiento = document.querySelector("span.errorfechanacimiento");
          var errortelefonocontacto =  document.querySelector("span.errortelefonocontacto");
          var errordomicilio =  document.querySelector("span.errordomicilio");
          var errorcodigopostal =  document.querySelector("span.errorcodigopostal");
          var errorlocalidad =  document.querySelector("span.errorlocalidad");
          var errorprovincias =  document.querySelector("span.errorprovincias");

          //validaciones para cada variable
          //Nombre
          var letras = /^[a-zA-Z]+$/;
          if (nombre.value  == ""){
            errornombre.innerHTML = "Ingrese su Nombre";
            errornombre.style.color = "red";
            nombre.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(nombre.value.length < 3 || letras.test(nombre.value) != true){
            errornombre.innerHTML = "Ingrese un nombre válido";
            errornombre.style.color = "red";
            nombre.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errornombre.innerHTML = "";
            nombre.style.border = "solid 1px lightgreen";
          };

          //Apellido
          if (apellido.value  == ""){
            errorapellido.innerHTML = "Ingrese su Apellido";
            errorapellido.style.color = "red";
            apellido.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(apellido.value.length < 3 || letras.test(nombre.value) != true){
            errorapellido.innerHTML = "Ingrese un apellido válido";
            errorapellido.style.color = "red";
            apellido.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(letras.test(apellido.value) != true){
            errorapellido.innerHTML = "Ingrese un apellido válido";
            errorapellido.style.color = "red";
            apellido.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errorapellido.innerHTML = "";
            apellido.style.border = "solid 1px lightgreen";
          }

          //Email
          var regexEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
          if(email.value == ""){
            erroremail.innerHTML = "Este campo es obligatorio";
            erroremail.style.color = "red";
            email.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(regexEmail.test(email.value) != true) {
            erroremail.innerHTML = "No has ingresado un correo electrónico válido";
            erroremail.style.color = "red";
            email.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            erroremail.innerHTML = "";
            email.style.border = "solid 1px lightgreen";
          }

          //Contraseña
          if(contraseña.value == ""){
            errorcontraseña.innerHTML = "Este campo es obligatorio";
            errorcontraseña.style.color = "red";
            contraseña.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(contraseña.value.length < 6){
            errorcontraseña.innerHTML = "La contraseña debe contener un mínimo de 6 carácteres";
            errorcontraseña.style.color = "red";
            contraseña.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errorcontraseña.innerHTML = "";
            contraseña.style.border = "solid 1px lightgreen";
          }

          //Confirmacion Contraseña
          if(confirmarcontraseña.value == ""){
            errorconfirmarcontraseña.innerHTML = "Este campo es obligatorio";
            errorconfirmarcontraseña.style.color = "red";
            confirmarcontraseña.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(confirmarcontraseña.value != contraseña.value){
            errorconfirmarcontraseña.innerHTML = "Las contraseñas proporcionadas no coinciden";
            errorconfirmarcontraseña.style.color = "red";
            confirmarcontraseña.style.border = "solid 1px red";
            evt.preventDefault();
          } else {
            errorconfirmarcontraseña.innerHTML = "";
            confirmarcontraseña.style.border = "solid 1px lightgreen";
          }

          //NumeroDocumento
          var numeros = /^([0-9])*$/
          if(numerodocumento.value == ""){
            errornumerodocumento.innerHTML = "Ingrese su numero de documento";
            errornumerodocumento.style.color = "red";
            numerodocumento.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(numerodocumento.value.length < 8){
            errornumerodocumento.innerHTML = "El documento debe ser válido";
            errornumerodocumento.style.color = "red";
            numerodocumento.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(numeros.test(numerodocumento.value) != true) {
            errornumerodocumento.innerHTML = "El documento debe ser válido";
            errornumerodocumento.style.color = "red";
            numerodocumento.style.border = "solid 1px red";
            evt.preventDefault();
          } else {
            errornumerodocumento.innerHTML = "";
            numerodocumento.style.border = "solid 1px lightgreen";
          }

          var hoy = new Date();
          //FechaNacimiento
          if(fechanacimiento.value == ""){
            errorfechanacimiento.innerHTML = "Ingrese la fecha de nacimiento";
            errorfechanacimiento.style.color = "red";
            fechanacimiento.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(fechanacimiento.value.length != 10) {
            errorfechanacimiento.innerHTML = "La fecha de nacimiento no es valida";
            errorfechanacimiento.style.color = "red";
            fechanacimiento.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(fechanacimiento.valueAsDate > hoy){
            errorfechanacimiento.innerHTML = "La fecha de nacimiento es posterior a la permitida";
            errorfechanacimiento.style.color = "red";
            fechanacimiento.style.border = "solid 1px red";
            evt.preventDefault();
          }else {
            errorfechanacimiento.innerHTML = "";
            fechanacimiento.style.border = "solid 1px lightgreen";
          }

          //Telefono
          if(telefonocontacto.value == ""){
            errortelefonocontacto.innerHTML = "Ingrese un telefono de contacto";
            errortelefonocontacto.style.color = "red";
            telefonocontacto.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(telefonocontacto.value.length <= 6 || numeros.test(telefonocontacto.value) != true) {
            errortelefonocontacto.innerHTML = "El telefono de contacto debe ser válido";
            errortelefonocontacto.style.color = "red";
            telefonocontacto.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errortelefonocontacto.innerHTML = "";
            telefonocontacto.style.border = "solid 1px lightgreen";
          }

          //Domicilio
          if(domicilio.value == ""){
            errordomicilio.innerHTML = "Ingrese el domicilio";
            errordomicilio.style.color = "red";
            domicilio.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(domicilio.value.length < 4){
            errordomicilio.innerHTML = "El domicilio debe ser válido";
            errordomicilio.style.color = "red";
            domicilio.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errordomicilio.innerHTML = "";
            domicilio.style.border = "solid 1px lightgreen";
          }

          //CodigoPostal
          if(codigopostal.value == ""){
            errorcodigopostal.innerHTML = "Ingrese el Código Postal";
            errorcodigopostal.style.color = "red";
            codigopostal.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(codigopostal.value.length < 4){
            errorcodigopostal.innerHTML = "El codigo postal debe ser válido";
            errorcodigopostal.style.color = "red";
            codigopostal.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(numeros.test(codigopostal.value) != true) {
            errorcodigopostal.innerHTML = "El código postal debe ser válido";
            errorcodigopostal.style.color = "red";
            codigopostal.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errorcodigopostal.innerHTML = "";
            codigopostal.style.border = "solid 1px lightgreen";
          }

          //localidad
          if(localidad.value == ""){
            errorlocalidad.innerHTML = "Ingrese una localidad";
            errorlocalidad.style.color = "red";
            localidad.style.border = "solid 1px red";
            evt.preventDefault();
          }else if(localidad.value.length < 4){
            errorlocalidad.innerHTML = "La localidad debe ser válida";
            errorlocalidad.style.color = "red";
            localidad.style.border = "solid 1px red";
            evt.preventDefault();
          }else{
            errorlocalidad.innerHTML = "";
            localidad.style.border = "solid 1px lightgreen";
          }

          //Provincias
          if(provincias.value == ""){
            errorprovincias.innerHTML = "Seleccione una provincia";
            errorprovincias.style.color = "red";
            provincias.style.border = "solid 1px red";
            evt.preventDefault();
          } 
          else {
            errorprovincias.innerHTML = "";
            provincias.style.border = "solid 1px lightgreen";
          };

        };
      });


    </script>
  </body>
</html>
<!- "no borrar el script! lo necesitamos para el dropdown menu" -!>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
