<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>REGISTRO</title>
  </head>
  <body>
  <h1> Registrate </1>
    <header th:replace="/fragments/header::header"></header>
   <form action="" method="POST">
  <div >
    <div class="form-group col-md-6">
      <label for="inputNombre">Nombre</label>
      <input type="text" class="form-control" id="inputNombre" placeholder="ej: Alejandra" name= "nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputApellido">Apellido</label>
      <input type="text" class="form-control" id="inputApellido" placeholder="ej: Pontes" name= "apellido">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDni">DNI</label>
    <input type="number" class="form-control" id="inputDni" placeholder="33897907" name="dni">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
	</form>
	<footer th:replace="/fragments/footer::footer"></footer>
  </body>
</html>