<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700|Raleway+Dots|Raleway:200,200i,300,300i,400,700|Work+Sans:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <header th:replace="/fragments/header::header"></header>
    <main class="row justify-content-center container-fluid">
      <div class="row col-lg-6 col-sm-10 justify-content-center">
        <form class="row col-10 justify-content-center" action="home.html">
          <h3 class="col-10">Bienvenido</h3>
          <h4 class="col-10">Ingresa tu email y contraseña</h4>
          <input type="text" placeholder="Correo Electrónico" class="email col-8">
          <span class="col-8 errormail"></span>
          <input type="password" placeholder="Contraseña"  class="passw col-8">
          <span class="col-8 errorpass"></span>
          <div class="row col-12 justify-content-center">
            <span class="col-6 olvide"><a href="olvidecontraseña.html">¿Olvidaste tu contraseña?</a></span>
          </div>
          <div class="row Botones">
            <button type="button" value="ingresar" id="ingresar" class="btn btn-dark">Iniciar Sesión</button>
          </div>
        </form>
        <div class="row col-10 justify-content-center registro">
          <span>¿Sos nuevo en el sitio?<a href="/registro" class="col-6">Registrate</a></span>
        </div>
      </div>
    </main>
    <footer th:replace="/fragments/footer::footer"></footer>
  </div>
  <script>
  window.addEventListener('load',function(){
    //Cuando hace click en el boton ingresar
    var botonIngresar = document.querySelector("button#ingresar");
    botonIngresar.addEventListener('click',function(){
      //validar los datos solicitados
      //mostrar errores
      var email = document.querySelector("input.email");
      var pass = document.querySelector("input.passw");
      var errorEmail = document.querySelector("span.errormail");
      var errorPass = document.querySelector("span.errorpass");
      var regexEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;

      if(email.value == ""){
        errorEmail.innerHTML = "Este campo es obligatorio";
        errorEmail.style.color = "red";
        email.style.border = "solid 1px red";
      }else if(regexEmail.test(email.value) != true){
        errorEmail.innerHTML = "No has ingresado un correo electrónico válido";
        errorEmail.style.color = "red";
        email.style.border = "solid 1px red";
      }else{
        errorEmail.innerHTML = "";
        email.style.border = "solid 1px lightgreen";
      }

      if(pass.value == ""){
        errorPass.innerHTML = "Este campo es obligatorio";
        errorPass.style.color = "red";
        pass.style.border = "solid 1px red";
      }else{
        errorPass.innerHTML = "";
        pass.style.border = "solid 1px lightgreen";
      }

    });
  });
  </script>
</body>
</html>

<!- "no borrar el script! lo necesitamos para el dropdown menu" -!>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
