div.product-name p{
  margin: 0;
}

article{
  display: block;
  margin: 25px 0;
}

input#quantity{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 5px;
}

h4.compra-title{
  display: inline;
  padding: 0;
}
